{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}
{% import "Ceres::Item.Macros.AgeRestriction" as AgeRestriction %}

{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

<script type="x/template" id="vue-single-item">
    <div>
        <div class="single page-content">
            <div class="container-fluid">
              <div class="hidden-sm-up">
              <h1 class="h2 title">
                                      <span>
                                          ${ currentVariation | itemName }
                                      </span>
              </h1>
              </div>
              <div class="row mt-3 position-relative" style="background-color:#f2f4f5;">
                  <div class="col-md-7 mt-5 mb-5">
                      <slot name="ImageCarousel"></slot>
                  </div>

                  <div class="col-md-5 mt-5 mb-5 single-rightside">
                      {% include "JeffGreen::Item.Components.SingleItem.SingleItem_Details" %}
                  </div>
              </div>
            </div>

            <div class="container-max">
              <div class="mt-5 position-relative">
                  <div class="">
                      {% include "JeffGreen::Item.Components.SingleItem.SingleItem_InformationTable" %}
                  </div>
              </div>
            </div>

            <slot name="ItemListContainer"></slot>
            <slot name="FeedbackContainer"></slot>
        </div>
    </div>
</script>
