<!-- ITEM DESCRIPTION -->
<div class="my-5">
    <h1 class="category-title">Beschreibung</div>
    <div class="my-4 mb-5" v-html="currentVariation.texts.description"></div>
    <!--<div class="my-4" v-html="currentVariation.texts.technicalData"></div>-->
</div>
