<!-- ITEM DESCRIPTION -->
<div class="my-5">
    <h1 class="category-title">Beschreibung</div>
    <div class="my-4 mb-5">
      <h3 class="mb-4">${ currentVariation.texts.name1 }</h3>
      <div class="" v-html="currentVariation.texts.description"></div>
    </div>
    <!--<div class="my-4" v-html="currentVariation.texts.technicalData"></div>-->
</div>
