@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Raleway Light'), local('Raleway-Light'),
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-300.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Raleway Medium'), local('Raleway-Medium'),
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-500.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-600.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/raleway-v12-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-300.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/fonts/roboto-condensed-v16-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

body {font-family: 'Roboto Condensed';font-weight:400;font-size:1.1rem;background-color:#ffffff !important}
.footer, .wrapper-main, .page-content, body > #vue-app, body > #vue-error {background-color:#ffffff !important}
.wrapper-main #page-header {-webkit-box-shadow: none;box-shadow: none;}
a {color:#000000;}
a:hover {color:#000000;}
a:focus {color:#000000;}
a:visited {color:#000000;}
h1 {text-transform:uppercase;font-weight:600;font-size:2.2rem;}
hr {border-top: 1px solid #efefef}
#mainNavbarCollapsable ul.mainmenu {color:#000000;}
#mainNavbarCollapsable ul.mainmenu li a {color:#000000;}
.top-bar {background-color: #000000; } 
.cmp-search-box, .top-bar .controls-list .control-languages a[aria-expanded="true"], .top-bar .controls-list .control-search a[aria-expanded="true"] {background-color: #000000;}
.navbar-brand img {max-height: 2rem;}
.navbar {background-color: #ffffff;}
.no-touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li:hover, .touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li.hover{background-color:#f7f7f9 !important;}
#mainNavbarCollapsable {font-family: 'Roboto Condensed';font-weight:400;font-size:1.1rem;}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner .level1 > a {font-weight:normal;}
.ddown>a {font-size:1.2rem;text-transform:uppercase;font-family: 'Raleway';font-weight:600;}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse {background-color:#f7f7f9} 
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner  {background-color:#f7f7f9}
#mainNavbarCollapsable ul.mainmenu > li > a {padding-top:1.8rem !important;padding-bottom:1.7rem !important;}
.wrapper-main .navbar {}
.wrapper-main #page-header {background-color: #ffffff;}

.carousel-control {display:none;}

.category-title {text-transform:uppercase;font-size:2.5rem;font-weight:600;border-bottom: 1px solid #efefef;padding-bottom:2.5rem;padding-top:1rem}
.categoriegrid > div > div > h1 {text-align:center;}

.mb-5, .m-b-3, .my-5, .m-y-3 {margin-top:2.5rem !important;margin-bottom:2.5rem !important}

.owl-carousel .owl-item, .cmp-product-thumb .main-image {background-color: #f2f4f5}
.img-fluid, img {mix-blend-mode: multiply;}

.page-not-found .default-not-found {background-color:#ffffff}

.input-group {margin-top: 1rem;}
.widget-text.widget-primary {background-color: #ffffff;}
.widget-inner > h2 {margin-bottom:0rem;}
.widget-item-list.widget-primary .widget-caption {background-color:#ffffff;}
.widget-item-list .widget-caption h2, .widget-item-list .widget-caption .h2 {padding-top:0rem;font-size: 2.5rem;font-weight:600;color:#000000}

.widget-item-list.widget-primary .widget-caption {text-align:center;padding-top:2rem;padding-bottom:2rem;}

.parallax-text-container h1 {text-transform: uppercase}
.thumb-title {font-size:120%;text-transform:uppercase;}
.thumb-title::before {}

.list-controls .list-controls-inner {background-color: #000000; padding: 0px}
.custom-select {line-height: 0.7rem;font-size:1rem;padding-top:0.5rem;padding-bottom:0.5rem;}
.filter-toggle {right:1.5rem !important}
.list-controls .list-sort, .list-controls .list-itemsperpage {display:none}

.footer {margin-top: 3.5rem}
.footer .widget-grid .widget-inner .widget-list {color:#ffffff;background-color:#000000;}
.footer a:hover {text-decoration:underline !important;}
.footer a {margin-left: 5px !important;margin-right:5px !important}

.copyright {margin-top: -35px}

.back-to-top i {color:#8EC73E}
.back-to-top {background-color: #000000;border:none;}

.jg_topbarinfo {background-color:#000000;color:#ffffff;padding:0.7rem;font-size:1rem}