{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>404 | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}

 <div class="d-none d-sm-block">
   <img src="https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/teaser-image-6.jpg" style="width:100%"/>
 </div>

 <div class="d-block d-sm-none">
   <img src="https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/teaser-image-6-xs.jpg" style="width:100%"/>
 </div>

<div class="container-max page-content contact">
    <div class="row">
        <div class="col-12">
            <br/>
            {% autoescape false %}
                <h1>404 - Artikel nicht gefunden</h1>
            {% endautoescape %}
            <hr>
            <p class="static-page-plain-text">Der gesuchte Artikel wurde leider nicht gefunden! </p>
        </div>
    </div>
</div>

{% endblock %}
