{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <title>404 | {{ trans("Ceres::Template.headerCompanyName") }}</title>
    <meta name="robots" content="NOINDEX">

{% endblock %}

{% block PageBody %}

   <div class="d-none d-sm-block">
     <img src="https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/teaser-image-6.jpg" style="width:100%"/>
   </div>

   <div class="d-block d-sm-none">
     <img src="https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/teaser-image-6-xs.jpg" style="width:100%"/>
   </div>

    <div class="container-max page-content page-not-found">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron default-not-found">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>{{ trans("Ceres::Template.pageNotFoundOops") }}</h1>
                            <p>
                              Die aufgerufene Seite wurde leider nicht gefunden!
                            </p>
                        </div>
                        <div class="col-md-6 text-md-right not-found-text">
                            404
                        </div>
                    </div>
                </div>

                {{ LayoutContainer.show("Ceres::StaticPages.PageNotFound") }}

            </div>
        </div>
    </div>

{% endblock %}
